
.ant-picker-dropdown .ant-picker-cell .ant-picker-cell-inner {
  border-radius: 50%;
}

.ant-select-selection.ant-select-selection--single {
  height: 53px;
}

.ant-select-selector {
  height: 36px !important;
  border-radius: 4px !important;
}

.ant-select-selector:hover {
  border-color: #d1d1d1 !important;
}

/* Custom input radio */

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  background-clip: content-box;
  border: 1px solid gray;
  border-radius: 50%;
}
input[type="radio"]:checked {
  background-color: var(--primary-color);
}

input[type="checkbox"] {
  opacity: 0.7;
  filter: hue-rotate(192deg);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  visibility: visible;
}

/* css datepicker */

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-radius: 50% !important;
  border-color: var(--primary-color) !important;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner {
  background-color: var(--primary-color);
}

.ant-picker-dropdown .ant-picker-panel .ant-picker-footer {
  color: var(--primary-color) !important;
}

.ant-picker-dropdown .ant-picker-header-view button:hover {
  color: var(--primary-color) !important;
}

.ant-picker:hover {
  border-color: #d1d1d1;
  box-shadow: none !important;
}
.ant-picker:focus {
  border-color: #d1d1d1 !important;
}

.ant-picker-focused {
  border-color: #d1d1d1 !important;
  box-shadow: none !important;

}

.ant-input:hover {
  border-color: #d1d1d1 !important;
}
.ant-input:focus {
  border-color: #d1d1d1 !important;
  box-shadow: none;
}


.ant-select-selector:hover, .ant-select-selector:focus-within {
  border: 1px solid #d1d1d1 !important;
  box-shadow: none !important;
}

.ant-select-item-option:hover {
  background: rgba(37, 37, 37, 0.08) !important;
}

.ant-select-item-option-selected,  .ant-select-item-option-selected:hover{
  background: rgba(37, 37, 37, 0.08) !important;
  font-weight: 400 !important;
}
