

/* css modal*/
  .ant-modal-title{
    background-color: var(--primary-color);
    height: 57px;
    line-height: 57px !important;
    padding-left: 16px;
    color: white !important;
    border-radius: 4px 4px 0 0;
    font-size: 20px !important;
  
  }
  
  .ant-modal-content {
    border-radius: 4px;
    margin: 90px 8px 20px;
  }

  .modal-create-file {
    margin-top: -110px;
    margin-left: -8px;
  }
  

  :where(.css-dev-only-do-not-override-1n7uv0s).ant-modal .ant-modal-content {
    padding: 0;
    border-radius: 4px;
    margin-left: 20px;
  }
  
  .ant-modal-close-x {
    color: white;
  }
  
  .ant-modal-body {
    padding: 20px 16px;
  }