/*table*/
:root {
  --table-row-light: #FCFCFC;
  --table-row-dark: #F8F8F8;
  --primary-color: #ba9256;
  --row-hover-color: #FCF2E3;

}
  
  .table-row-light {
    background-color: var(--table-row-light);
  }
  .table-row-dark {
    background-color: var(--table-row-dark);
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E5E5E5; 
    border-radius: 50px;
  }
  


  .ant-table-cell::before {
    display: none;
  }

  .ant-table-cell {
    border-right: 2px solid white;
    font-size: 12px;
  }

  .ant-table-container {
    border: 1px solid #f0f0f0;
  }

  .ant-table-pagination {
    padding-bottom: 40px;
    margin-top: -20px !important;
  }

  .ant-table-thead >tr>th {
    background: #f0f0f0 !important;
    color: #aaaa !important;
    font-weight: 400 !important;
    padding: 0 10px !important;
  }

  .ant-table-thead {
    height: 62px !important;

  }
  .ant-table-row  {
    height: 35px !important;
  }


.ant-table-pagination.ant-pagination {
  float: left;
}

.ant-table-tbody >tr:hover>td {
  background: var(--row-hover-color) !important;
}


.ant-pagination-item-active {
  border-color: var(--primary-color) !important;
}

.ant-pagination-item-active a {
  color: var(--primary-color) !important;
}