:root {
  --brown: #BA9256;

  --sidebar-theme-color: var(--brown);
  --button-primary-color: var(--brown);
  --text-primary-color: var(--brown);
}

.text-primary {
  color: var(--text-primary-color);
}
.btn-primary {
  background: var(--button-primary-color);
}
.sidebar {
  background: var(--sidebar-theme-color);
}