@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap');
@import "./styles/components/input.css";
@import "./styles/components/tab.css";
@import "./styles/components/modal.css";
@import "./styles/components/table.css";
@import "./styles/themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  margin: 0;
  font-family:  'Lexend',  sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sbl-bot {
  left: 50%;
  transform: translate(-50%, 0);
}

img, video {
  max-width: none;
  width: 20px;
}